@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
:root{
    --beige : hsl(30, 54%, 90%);
    --white: hsl(30, 18%, 87%);
    --marronc1 : hsl(30, 10%, 34%);
    --marrond1 : hsl(24, 5%, 18%);
    --rose : hsl(332, 51%, 32%) ;
    --full-white : hsl(330, 100%, 98%);
    --brown : hsl(14, 45%, 36%);
}
body{
    background-color: var(--beige);
}
#main{
    margin-right: 20%;
    margin-top: 15%;
    margin-bottom: 15%;
    margin-left: 20%;
    background-color: var(--full-white);
    border-radius: 20px;
    padding-bottom: 5%;
    padding-left: 4%;
    padding-top: 4%;
}
#omlettes{
    height: 30%;
    width: 95%;
    margin-left: 0.25%;
    border-radius: 20px;
}
#Recipe{
    margin-top: 6%;
    margin-left: 0.9%;
    font-family: "Young Serif", serif;
    font-size : 30px;
    font-weight: 400;
    color: var(--marrond1);
}
#script{
    font-family: "Outfit", sans-serif;
    margin-bottom: 10%;
    color: var(--marronc1);
}
#prepa{
    font-family: "Outfit", sans-serif;
    margin-top: 1%;
}
#time{
    color: var(--rose);
    font-weight:750;
    margin-left: 4.5%;
    font-size: 20px;
}
.aaa{
    display: flex ;
    color: var(--brown);
}
.bbb{
    font-weight: 700;
}
#ingri{
    font-family: "Young Serif", serif;
    font-size : 23px;
    color: rgb(84, 18, 18);
}
#lista{
    color: var(--marronc1);
    font-family: "Outfit", sans-serif;
    margin-bottom: 5%;
}
.spaced-list{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#intra{
     font-family: "Young Serif", serif;
    font-size : 23px;
    color: rgb(84, 18, 18);
    margin-top: 8%;
}
.ccc{
    display: flex;
    margin-left: none;
    gap: 1%;
}
#dd{
    margin-left : none;
}
#ol{
    margin-left: 0; 
    padding-right: 120px;
    padding-left: 15px;
    color: var(--brown);
}
.spn{
    font-weight: 700;
    font-family: "Outfit", sans-serif;
    color: var(--marrond1);
}
#nitrisio{
    font-family: "Young Serif", serif;
    font-size : 23px;
    color: var(--brown);
    margin-top: 7.5%;
}
#tibl{
    font-family: "Outfit", sans-serif ;
    color: var(--marrond1);
}
.tablo{
    display: flex;
    gap: 50px;
    align-items:self-end;
}
.alin2{
    color: var(--marronc1);
    padding-left: 6.7%;
    font-family: "Outfit", sans-serif;
    font-weight: 650;
}
.ending{
    font-family: "Outfit", sans-serif;
    color: var(--brown);
    font-weight: 800;
}